* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 100%;
  min-height: 100%;
}

img,
figure {
  width: 100%;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.home-header-container {
  width: 100%;
  min-width: 280px;
  overflow: hidden;
}

.home-header-content {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(233, 73, 42, 1) 0%,
    rgba(231, 35, 87, 1) 100%
  );
}

.home-header-figures {
  padding: 20px 20px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header-figures div {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.figure-circle {
  width: 300px;
  height: max-content;
  margin: -120px 0 0 -200px;
}

.figure-manda-trends {
  width: 220px;
  margin-top: -130px;
  margin-bottom: 80px;
}

.figure-arrows {
  width: 70px;
  margin-bottom: -12px;
}

.figure-triangle {
  width: 30px;
  margin: -45px 0 5px 0;
  align-self: flex-end;
}

.figure-waves {
  width: 120px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 30px;
}

.figure-rectangle {
  width: 40px;
  height: max-content;
  margin-top: 172px;
  margin-right: 260px;
  align-self: center;
}

.figure-woman {
  width: 250px;
  margin-top: -202px;
}

.home-header-themes-container {
  width: calc(100vw - 40px);
  max-width: 350px;
  overflow: hidden;
}

.home-header-figures ul {
  display: flex;
  width: max-content;
  height: 100%;
  margin: 0;
  white-space: nowrap;
  list-style: none;
}

.home-header-figures li {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 40px);
  max-width: 350px;
  position: relative;
  align-items: flex-end;
}

.home-header-figures li h1 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  margin-right: 30px;
}

.home-header-edition li h6 {
  color: #fff;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 30px;
}

.home-header-featured-theme li {
  animation: slideHFT 120s infinite ease-out;
}

@keyframes slideHFT {
  0% {
    left: 0;
  }
  49% {
    left: 0;
  }
  50% {
    left: -50%;
  }
  99% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

.home-header-theme li { 
  animation: slideHT 240s infinite ease-out;
}

@keyframes slideHT {
  0% {
    left: 0;
  }
  16.16% {
    left: 0;
  }
  16.66667% {
    left: -25%;
  }
  32.83% {
    left: -25%;
  }
  33.33333% {
    left: -50%;
  }
  49.5% {
    left: -50%;
  }
  50% {
    left: -75%;
  }
  66.16% {
    left: -75%;
  }
  66.66667% {
    left: -50%;
  }
  82.83% {
    left: -50%;
  }
  83.33333% {
    left: -25%;
  }
  100% {
    left: -25%;
  }
}

.home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 55px 0 10px;
  min-width: 280px;
  margin: -80px 0 0;
  background-color: #fff;
}

.home-trends-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-featured-trends {
  width: 100vw;
  padding: 0;
  margin: 0 auto 30px;
  overflow: hidden;
}

.home-featured-trends ul {
  width: max-content;
  display: flex;
  list-style: none;
}

.home-featured-trends li {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  animation: slideFT 120s infinite ease-out;
}

@keyframes slideFT {
  0% {
    left: 0;
  }
  49% {
    left: 0;
  }
  50% {
    left: -50%;
  }
  99% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

.home-featured-trends-images {
  display: flex;
  width: calc(100vw * 2);
  overflow: hidden;
}

.home-featured-trends-images img {
  width: 50%;
  position: relative;
  animation: slideFT 90s infinite ease-out;
}


.home-featured-trends h1 {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.home-featured-trends p {
  margin: 0 10px 10px;
  font-size: 13px;
  color: #74787a;
}

.home-featured-trends span p {
  margin: 0 10px 5px;
  font-size: 11px;
  font-style: italic;
  color: #b7b7b7;
}

.featured-trends-card-time {
  height: 5px;
  width: calc(100% - 20px);
  position: relative;
  align-self: center;
  justify-self: center;
}

.featured-trends-time {
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(230, 34, 89, 1) 0%,
    rgba(105, 91, 163, 1) 100%
  );
  position: absolute;
  animation: timeT 60s infinite normal;
}

@keyframes timeT {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.trends-card-time {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  position: relative;
}

.trends-time-left {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(119, 200, 208, 1) 0%,
    rgba(103, 94, 165, 1) 100%
  );
  position: absolute;
  animation: timeT 40s infinite normal;
}

.trends-time-right {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(117, 199, 207, 1) 0%,
    rgba(56, 176, 136, 1) 100%
  );
  position: absolute;
  animation: timeT 40s infinite normal;
}

.home-trends {
  width: 50vw;
  display: flex;
  padding: 0;
  padding: 0 5px 0 10px;
}

.home-trends ul {
  display: flex;
  width: max-content;
  height: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
}

.home-trends li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50vw - 15px);
  position: relative;
  animation: slideT 240s infinite ease-out;
  white-space: normal;
}

@keyframes slideT {
  0% {
    left: 0;
  }
  16.16% {
    left: 0;
  }
  16.66667% {
    left: -100%;
  }
  32.83% {
    left: -100%;
  }
  33.33333% {
    left: -200%;
  }
  49.5% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  66.16% {
    left: -300%;
  }
  66.66667% {
    left: -200%;
  }
  82.83% {
    left: -200%;
  }
  83.33333% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

.home-trends figure {
  margin-bottom: 10px;
}

.home-trends h1 {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.home-trends p {
  width: calc(50vw - 15px);
  font-size: 11px;
  font-style: italic;
  color: #b7b7b7;
}

.home-trends-images {
  display: flex;
  width: max-content;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.home-trends-images img {
  width: calc(50vw - 15px);
  position: relative;
}

#animation-two-elements img {
  animation: slideE 45s infinite ease-out;
}

#animation-for-elements img {
  animation: slideT 60s infinite ease-out;
}

@keyframes slideE {
  0% {
    left: 0;
  }
  49% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.home-main-container section:last-child {
  padding: 0 10px 0 5px;
}

.home-mandarin-signature {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px;
  background-color: #fc4c02;
  align-items: center;
  justify-content: center;
}

.home-mandarin-signature img {
  width: 70%;
  max-width: 300px;
}

.home-footer-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.home-footer-container p {
  font-size: 12px;
  margin: 0;
}

@media (min-width: 576px) {
  .home-header-figures {
    padding: 20px 40px;
    height: 900px;
  }

  .figure-circle {
    width: 500px;
    margin: -220px 0 0 -400px;
  }

  .figure-manda-trends {
    width: 350px;
    margin-top: -190px;
  }

  .home-header-figures div {
    width: 100%;
    max-width: 500px;
  }

  .figure-arrows {
    width: 120px;
    margin-bottom: -40px;
  }

  .figure-triangle {
    width: 50px;
    align-self: flex-end;
  }

  .figure-waves {
    width: 180px;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 50px;
  }

  .figure-rectangle {
    width: 70px;
    height: max-content;
    margin-top: 255px;
    margin-right: 480px;
  }

  .figure-woman {
    width: 380px;
    margin-top: -315px;
  }

  .home-header-figures li {
    width: calc(100vw - 80px);
    max-width: 500px;
  }

  .home-header-themes-container {
    width: calc(100vw - 80px);
  }
  
  .home-header-figures li {
    width: calc(100vw - 80px);
  }

  .home-header-figures li h1 {
    font-size: 30px;
    margin-right: 50px;
  }

  .home-header-edition li h6 {
    font-size: 20px;
    margin-right: 50px;
  }

  .home-main-container {
    padding: 80px 40px 20px;
  }

  .home-featured-trends {
    width: calc(100vw - 80px);
    margin-bottom: 50px;
  }

  .home-featured-trends ul {
    width: calc(100vw * 2 - 80px);
  }

  .home-featured-trends li {
    width: calc(100vw - 80px);
  }

  .home-featured-trends-images {
    width: calc(100vw * 2 - 80px);
  }

  .home-featured-trends-images img {
    width: calc(100vw - 80px);
  }

  @keyframes slideFT {
    0% {
      left: 0;
    }
    45% {
      left: 0;
    }
    50% {
      left: calc(-50% + 40px);
    }
    95% {
      left: calc(-50% + 40px);
    }
    100% {
      left: 0;
    }
  }

  .home-featured-trends h1 {
    max-width: none;
    font-size: 35px;
    margin: 20px 0 5px;
  }

  .home-featured-trends p {
    font-size: 25px;
    margin: 0 0 20px;
  }

  .home-featured-trends span p {
    font-size: 20px;
    margin: 0 0 10px;
  }

  .featured-trends-card-time,
  .trends-card-time {
    width: 100%;
    height: 10px;
  }

  .home-main-container section:last-child {
    padding: 0 0 0 10px;
  }

  .home-trends {
    padding: 0 10px 0 0;
  }

  .home-trends ul,
  .home-trends li,
  .home-trends-images img {
    width: calc(50vw - 50px);
  }

  .home-trends h1 {
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .home-trends p {
    width: calc(50vw - 50px);
    font-size: 13px;
    margin-bottom: 10px;
  }

  .home-mandarin-signature {
    padding: 40px 40px 30px;
  }

  .home-mandarin-signature img {
    max-width: 450px;
  }

  .home-footer-container {
    height: 100px;
  }

  .home-footer-container p {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .home-header-figures {
    padding: 0;
    height: 445px;
  }

  .home-header-figures h1 {
    font-size: 25px;
  }

  .home-header-figures div {
    align-self: flex-end;
    max-width: 400px;
  }

  .figure-circle {
    width: 500px;
    margin: -220px 0 0 -700px;
  }

  .figure-manda-trends {
    width: 280px;
    margin-top: -230px;
    margin-left: 40px;
    align-self: flex-start;
  }

  .figure-arrows {
    width: 80px;
    margin-bottom: -20px;
    margin-top: -190px;
  }

  .figure-triangle {
    width: 40px;
    margin-right: 15px;
  }

  .figure-waves {
    width: 150px;
    margin-top: 20px;
  }

  .figure-rectangle {
    width: 70px;
    margin-top: 72px;
  }

  .figure-woman {
    width: 300px;
    margin-top: -265px;
  }

  .home-header-themes-container {
    align-self: flex-end;
  }

  .home-header-figures li {
    max-width: 400px;
  }

  .home-main-container {
    padding-top: 65px;
  }

  .home-trends {
    padding: 0 25px 0 0;
  }

  .home-trends ul,
  .home-trends li,
  .home-trends-images img {
    width: calc(50vw - 65px);
  }

  .home-main-container section:last-child {
    padding: 0 0 0 25px;
  }

  .home-mandarin-signature img {
    max-width: 620px;
  }
  .home-footer-container {
    padding: 40px;
    height: 100%;
  }
  .home-footer-container p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .home-header-content {
    height: 450px;
  }

  .home-header-figures {
    height: 485px;
  }

  .figure-circle {
    margin: 50px 0 0 -900px;
  }

  .figure-manda-trends {
    width: 350px;
    margin-top: -500px;
    margin-left: 50px;
  }

  .home-header-figures div {
    max-width: 550px;
  }

  .figure-arrows {
    width: 100px;
    margin-bottom: -50px;
  }

  .figure-triangle {
    width: 50px;
    margin-right: 15px;
  }

  .figure-waves {
    width: 220px;
    margin-top: 20px;
  }

  .figure-rectangle {
    width: 90px;
    margin-top: 45px;
  }

  .figure-woman {
    width: 300px;
    margin-top: -280px;
  }

  .home-header-figures li {
    max-width: 550px;
  }

  .home-header-figures li h1 {
    margin-right: 60px;
  }

  .home-header-edition li h6 {
    margin-right: 60px;
  }

  .home-featured-trends {
    max-width: 1260px;
    margin-bottom: 85px;
  }

  .home-featured-trends h1 {
    font-size: 45px;
  }

  .home-trends h1 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .home-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 410px;
  }

  .home-header-figures {
    width: 100%;
    min-width: 1200px;
    max-width: 1440px;
    height: 410px;
  }

  .home-header-figures div {
    min-width: 54%;
    max-width: 660px;
    margin-top: -100px;
  }

  .home-header-figures div h1 {
    margin-right: 90px;
  }

  .home-header-figures div h1 span {
    font-size: 22px;
  }

  .figure-circle {
    margin: 50px 0 0 -1500px;
  }

  .figure-manda-trends {
    width: 450px;
    margin-top: -465px;
    margin-left: 80px;
  }

  .figure-arrows {
    width: 113px;
    margin-bottom: -20px;
  }

  .figure-triangle {
    width: 50px;
    margin-right: 30px;
  }

  .figure-waves {
    width: 186px;
    margin-top: 10px;
    margin-right: 80px;
  }

  .figure-rectangle {
    align-self: center;
    width: 90px;
    margin-top: 13px;
    margin-right: 280px;
  }

  .figure-woman {
    width: 320px;
    margin-top: -295px;
    margin-left: 200px;
  }

  .home-header-themes-container {
    padding-top: 100px;
    margin-right: -90px;
  }

  .home-header-figures li h1 {
    margin-right: 60px;
  }

  .home-header-edition li h6 {
    margin-right: 60px;
  }

  .home-main-container {
    justify-content: center;
    padding: 75px 85px 30px;
  }

  .home-featured-trends,
  .home-featured-trends li,
  .home-featured-trends-images img {
    width: calc(100vw - 170px);
    max-width: 1260px;
  }

  .home-featured-trends ul,
  .home-featured-trends-images {
    width: calc(100vw * 2 - 170px);
    max-width: 2690px;
  }

  .home-featured-trends h1 {
    font-size: 50px;
    margin-bottom: 0;
    width: 100%;
    max-width: 1260px;
  }

  .home-featured-trends p {
    font-size: 31px;
    width: 100%;
    max-width: 1260px;
  }

  .home-featured-trends span {
    width: 100%;
    max-width: 1260px;
  }

  .home-featured-trends span p {
    font-size: 25px;
  }

  @keyframes slideFT {
    0% {
      left: 0;
    }
    45% {
      left: 0;
    }
    50% {
      left: calc(-50% + 85px);
    }
    95% {
      left: calc(-50% + 85px);
    }
    100% {
      left: 0;
    }
  }

  .home-trends {
    max-width: 630px;
  }

  .home-trends ul,
  .home-trends li,
  .home-trends-images img {
    width: calc(50vw - 110px);
    max-width: 605px;
  }

  .home-trends h1 {
    max-width: 605px;
    font-size: 40px;
  }

  .home-trends p {
    max-width: 605px;
    font-size: 25px;
  }

  .home-footer-container p {
    font-size: 25px;
  }
}
